
body{
    background-color: white;
}
.about-hero {
  background-color: var(--mid);
  padding: 80px 20px;
  text-align: center;
  color: #3b1a34;
 
}

.about-hero h1 {
    font-size: 42px;
      color: white;
      margin-bottom: 10px;
}

.about-hero p {
   font-size: 18px;
      color: #eee;
}

.about-content {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 900px;
  margin: auto;
}

.about-box {
  background: var(--lighter);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  color: #3b1a34;
}

.about-box h2 {
  margin-bottom: 15px;
  font-size: 24px;
}

.about-box ul {
  list-style: disc inside;
  padding-left: 0;
}

@media (max-width: 768px) {
  .about-hero h1 {
    font-size: 36px;
  }
  .about-content {
    padding: 20px;
  }
}

